
{% extends 'bootstrap/base.html' %}

body {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4, h5, h6, h7 {
font-weight: normal;
}

p {
      text-align: justify;
}

.left {
 float: left;
 padding: 0 20px 20px 0;
 max-width:50%;
 height:auto;
}

.navbar {
padding-right: 10rem;
padding-left: 5rem;
}

.toplinks {
padding-right: 2rem;
color: 1F4D38;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.step-break {
margin-top: 20px;
margin-bottom: 20px;
text-align: left;
}

.steps {
display: block;
margin-left: auto;
margin-right: auto;
}

.step1 {
width: 80%;
border: 3px solid #555;
}

.step2 {
width: 35%;
}

.lovedoes {
margin-bottom: 20px;
}

.form-group {
text-align: left;
}