
{% extends 'bootstrap/base.html' %}

body {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4, h5, h6, h7 {
font-weight: normal;
}

p {
  text-align: justify;
}

a {
text-shadow: none;
color:blue;
}

a:hover {
color:red;
}


.left {
 float: left;
 padding: 0 20px 20px 0;
 max-width:50%;
 height:auto;
}

.navbar {
padding-right: 10rem;
padding-left: 5rem;
}

.toplinks {
padding-right: 2rem;
color: 1F4D38;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.step-break {
margin-top: 2rem;
margin-bottom: 2rem;
text-align: left;
}

.steps {
display: block;
margin-left: auto;
margin-right: auto;
}

.step1 {
width: 80%;
border: 3px solid #555;
}

.step2 {
width: 35%;
}

.lovedoes {
margin-bottom: 20px;
}

.form-group {
text-align: left;
}

.black_section {
background-color: #000000;
color: white;
}

.gold_section {
background-color: #CCA97A;
color: white;
padding:2rem 16rem;
text-shadow: 1px 1px 2px #000000;
}

.gala-background {
width: 90%;
}

.section-end {
padding-bottom: 2rem;
}

.left_2 {
 float: right;
 margin: 2rem 6rem 2rem 0rem;
 width:35%;
}

.noresale {
margin: auto;
padding: 2rem 16rem 0rem 0rem;
text-align:left;
}

.btn {
margin-top: 1rem;}

.instructions {
background-color: #000000;
color: white;
}

.gold_border1 {
border: 5px solid #CCA97A;
display: block;
margin-top: 2rem;
margin-left: auto;
margin-right: auto;
}

.gold_border2 {
border: 5px solid #CCA97A;
display: block;
margin-top: 2rem;
margin-left: auto;
margin-right: auto;
}

.gold {
color: #CCA97A;
}

.about {
margin-top: 2rem;
margin-bottom: 2rem;
padding: 0 3rem 0 3rem;
text-align: left;
}}